<section class="aboutme">
  <page-about (show)="isShow = true" (shows) = "isShow = false"></page-about>
</section>
<!-- <button (click)="back()">Back</button> -->
<div class="container" *ngIf="isShow">
  <span class="control-fileupload">
        
    <!-- <form [formGroup]="imageForm" (ngSubmit)="upload(imageForm.value)">
        <label for="file">Upload Picture:</label>
        <input
          type="file"
          id="file"
          (change)="onUploadOutput($event)"
          formControlName="image"
        />
        <button>Upload</button>
    </form> -->
    <div class="container">
                <!-- Modal -->
                <div class="modal fade" id="myModal" role="dialog">
                  <div class="modal-dialog">
                  
                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Upload Image</h4>
                      </div>
                      <div class="modal-body">
                                <img [src]="downloadURL | async" class="img" alt="image"/>
                                <form [formGroup]="imageForm" (ngSubmit)="upload(imageForm.value)">
                                        <label for="file" class="btn-2">Upload Picture:</label>
                                        <input
                                                class="form-control"
                                                type="file"
                                                id="file"
                                                (change)="onUploadOutput($event)"
                                                formControlName="image"
                                        />
                                        <button>Upload</button>
                                </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn" data-dismiss="modal" (click)="cancel()">Cancel</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                    
                  </div>
                </div>
                
              </div>
  </span>
  <div class="container">
        <div class="row">
                <div class="col-md-4">
                      <div class="thumbnail">
                                <div class="cssCircle plusSign" data-toggle="modal" data-target="#myModal" title="Add Image">
                                        <span class="glyphicon glyphicon-plus"></span>
                                </div>
                      </div>  
                </div>
          <div class="col-md-4" *ngFor="let each of data">
                <div class="thumbnail">
                        <img id="myImg" [src]="each.payload.doc.data().image" style="width:100%">
                </div>
          </div>
        </div>
  </div>
</div>
