
  <div class="container-fluid">
    <div class="container" id="container">
      <div class="row">
        <div class="container col-sm-4">
          <div class="container">
            <img
              class="img-circle"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQV2fP1Ola2TCzl51y8jG1eKf_Q38GP_h6vHt056aNBBOXtFX8t"
            />
          </div>
        </div>
        <div class="container col-sm-6" id="container">
          <div class="card">
            <div class="container">
              <h4><b>John Doe</b></h4>
              <p>Architect & Engineer</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

