<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-sm-6">
        <div>
          <img id="img" [src]="image" />
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <h3>{{ profile }}</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<h1>My Hobbies</h1>
<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-sm-4">
                    <div class="card">
                            <img src="https://cdn.wallpapersafari.com/56/48/rekJap.jpg" alt="John" style="width:100%">
                            <p><button>See Details</button></p>
                        </div>
            </div>
            <div class="col-sm-2">

            </div>
            <div class="col-sm-4">
                    <div class="card">
                            <img src="https://www.jakpost.travel/wimages/large/49-497965_coding-wallpaper-for-samsung-web-developer.jpg" alt="John" style="width:100%">
                            <p><button>See Details</button></p>
                    </div>
            </div>
        </div>
    </div>
</div>
