.header{
  text-align: center;
  font-size: 30px;
  margin-bottom: 40px;
}

.row{
  margin-top: 10px;
}

.image {
  width: 100%
}

#sidenav{
  height: 100vh;
  background-color: aliceblue
}

#column1{
  width: 30%;
  float: left;
  padding: 15px;
}

// .main {
//   width: 75%;
//   float: left;
//   padding: 15px;
// }

#img{
  width:40px;
  height:auto;
  border-radius: 20em

}

// .main {
//   margin-left: 20vh; 
// }

.aboutme{
  margin-top: 20vh
}
#aboutme{
  justify-content: center;
  display: flex;
}


