.header{
  text-align: center;
  font-size: 30px;
  margin-bottom: 40px;
}

.row{
  margin-top: 10px;
}

.error{
  color: red;
}

.success{
  color: green;
}

.img{
  display: block;
  border-radius: 10em;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: 30%;
  
}
